.error-display {
    font-size: 1.4rem;
    text-align: center;
    padding: 40px 0 65px 0;
}

.error-display__item {
    display: block;
    margin-top: 23px;
}

.error-display__item_main {
    font-size: 1.7rem;
}

.error-display__img {
    width: 128px;
    height: 128px;
}
